# Ігнорувати Python байт-коди
__pycache__
*.pyc
*.pyo

# Ігнорувати директорії віртуального середовища
venv/
env/
bwcVenv/

# Ігнорувати інші непотрібні файли та директорії
.git/
.gitignore
*.md
*.log
*.db
*.sqlite
*.swp

# Ігнорувати файл Dockerfile
Dockerfile
